extends ../layouts/application.pug

block content
  h2.display-4.fw-bold.mt-4.p-3= t('views.users.title')
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName()
          td= user.email
          td= formatDate(user.createdAt)
          td
            div.d-flex.flex-wrap
              if isAuthenticated() && currentUser.id === user.id
                a.btn.btn-primary.me-1(href=`/users/${user.id}/edit`)= t('views.users.editbtn')
                form(action= `/users/${user.id}`, method="post")
                  input(name="_method" type="hidden" value='delete')
                  input.btn.btn-danger(type='submit', value=t('views.users.delete'))